#container{
    background-color: #D5E069;
    width: 1024px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    color: #AD6AE0;
}
.principal{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #6C3794;
}
.secundario{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:#E06B69;
}