#container{
    background-color:#FF9D4D;
    width: 1024px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    color:#99795F;
    text-align: center;
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color:#99795F;
}