#container{
    background-color: #99795F;
    width: 1024px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: #E1FAD9;
    text-align: center;
}
.datos{
    font-family: monospace;
    font-size: 35px;
    color: #E1FAD9;
}
.sub{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #E1FAD9;
}