#container{
    background-color:#6f5fff ;
    width: 1025px; ;
    height: 465px ;
    margin-left: auto;
margin-right: auto;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70;
   color: #9e0000; 
   text-align: center;
}
.letra{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70;
    color: #00999e;
}