#container{
    background-color: #85002a;
    width: 1024px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
}
.titulo{
    font-family: monospace;
    font-size: 50px;
    color: #00b612;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #00b612;
}