#container{
    background-color:#19E0DF;
    width: 1024px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    color: #4C78D4;
}